header  
 .header__logo
  img(src="./assets/images/interview.png", alt="") 
 .header__items 
 .header__hamburger 
   svg(width="98" height="39" viewBox="0 0 98 39" fill="none" xmlns="http://www.w3.org/2000/svg")
     path(d="M98 2.00001L0 2M98 19.5L0 19.5M98 37L0 37" stroke="white" stroke-width="3")
 