header{
    width: 100%;
    height: 15vh;
    display: flex;
    z-index: 20;
    position: absolute;
}

.header__logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__items {
    width: 60%;
    height: 100%;
}

.header__hamburger{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}